.container-movie {
  max-width: 70%;
  margin: 0 auto;
  /* max-width: 80%; */
  position: relative;
}

.info-movie-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.movie-short-info {
  width: 250px;
  margin-right: 10px;
}

.movie-short-info img {
  width: 250px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(170, 170, 170, 0.4),
    -5px -2px 7px rgba(170, 170, 170, 0.4);
  border-radius: 14px;
}

.movie-short-info-details {
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(170, 170, 170, 0.4),
    -5px -2px 7px rgba(170, 170, 170, 0.4);
  border-radius: 14px;
}

.movie-info {
  width: 70%;
}

.movie-title {
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(170, 170, 170, 0.4),
    -5px -2px 7px rgba(170, 170, 170, 0.4);
  border-radius: 14px;
  margin-bottom: 10px;
}

.movie-description {
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(170, 170, 170, 0.4),
    -5px -2px 7px rgba(170, 170, 170, 0.4);
  border-radius: 14px;
}

.video-player {
  width: 100%;
  display: flex;
  justify-content: center;
}

.comments {
  margin-top: 25px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(170, 170, 170, 0.4),
    -5px -2px 7px rgba(170, 170, 170, 0.4);
  border-radius: 14px;
}

.comments_tittle {
  text-align: center;
}

.comments_tittle p {
  font-size: 20px;
}

.comment-input {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.comment-input textarea {
  resize: none;
  width: 40%;
  min-height: 100px;
  max-height: 200px;
  border: white 1px solid;
  padding: 10px;
  border-radius: 14px;
  margin-right: 20px;

  font-family: Arial, sans-serif;
  font-size: 16px;
}

textarea:focus {
  outline: none;
}

.button-submit {
  background-color: rgb(1, 69, 124);
  border-radius: 10px;
  width: 90px;
  height: 35px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-submit:hover {
  transform: scale(1.03);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.comment {
  margin-top: 20px;
  padding: 4px;
  border: white 1px solid;
  border-radius: 14px;
}

.comment__text {
  margin-left: 20px;
}